.wrapper {
  padding-left: 80px;
  padding-right: 80px;
}

.text-color {
  color: #222222;
  line-height: 20px;
}

/* TODO: create a class name for this anchor tag! */
a.button {
  color: rgb(34, 34, 34);
  text-decoration: underline;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
}
.airbnb-font {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
}

.sectionWrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.sectionTitle {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  font-weight: inherit;
}

.sectionTitleWrapper {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.sectionSubWrapper {
  padding-bottom: 24px;
}