.wrapper {
  padding-left: 80px;
  padding-right: 80px;
}

p {
  color: #222222;
  /* font-size: 16px;
  font-weight: 400;
  line-height: 24px; */
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}